hidden {
  display: none;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/high-voltage-sign_26a1.png);
  background-size: contain;
  /* background: rgb(255, 100, 100); */
}

.lava {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/fire_1f525.png);
  background-size: contain;
  
  /* background: rgb(255, 100, 100); */
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/cloud_2601.png);  /* background: rgb(88, 125, 80); */
  background-size: contain;

}

.actor {
  position: absolute;
}

.coin {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/glowing-star_1f31f.png);
  background-size: contain;
}

.player {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/facebook/138/fox-face_1f98a.png);
  background-size: contain;
}

.lost .player {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/129/skull-and-crossbones_2620.png);
  background-size: contain;
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
